/* --------- Global style */
*{
    margin: 0;
    background-color:black;
}
body {
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    margin: 0;
}

#container{
    
    height: 80vh;
    
}

#container h1{
   
    background-color:blue;
    top:90px;
    left:100px;/*260px*/
    font-size: 2rem;
    text-align: center;
    color: orange;
}
#container p.some-text{
    
    background-color: blue;
    color:orange;
    width: 80vw;
    text-align:center;
    position:fixed;
    font-size: 1rem;
    top:220px;
    left: 40px;
}
.some-more-text{
    background-color: blue;
    color:orange;
    width: 80vw;
    text-align:center;
    position:absolute;
    font-size: 1rem;
    top:400px;
    left: 40px;
}
#score-value{
    color: white;
}
#playGame, #playSoundTrack, #pauseSoundTrack{
    padding: 20px;
   /* margin:40px;*/
    border-style: solid;
    border-width: 20px, 5px;
    border-color: orange;
    background-color: lightskyblue;   
}

#play-contianer{
   
  /*display: none;*/
}

#left{
    height:30vh;
    display:none;
}

#right{
   height: 30vh;
   display:none;
}

#center{
   background-color:lightblue;
   height:100vh;
}

#left-button, #right-button{
    height:30vh;
}

#left-shoot-button, #right-shoot-button{
    height: 30vh;
    background-color:red;
}