/* --------- Global style */
*{
    margin: 0;
    background-color:black;
}
body {
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    margin: 0;
}

#container{
    
    height: 80vh;
    
}

#container h1{
   
    background-color:blue;
    top:90px;
    left:100px;/*260px*/
    font-size: 2rem;
    text-align: center;
    color: orange;
}
#container p.some-text{
    
    background-color: blue;
    color:orange;
    width: 80vw;
    text-align:center;
    position:fixed;
    font-size: 1rem;
    top:220px;
    left: 40px;
}
.some-more-text{
    background-color: blue;
    color:orange;
    width: 80vw;
    text-align:center;
    position:absolute;
    font-size: 1rem;
    top:360px;
    left: 40px;
}
#score-value{
    color: white;
}
button{
    padding: 20px;
    margin:40px;
    border-style: solid;
    border-width: 20px, 5px;
    border-color: orange;
    background-color: lightskyblue;   
}

#play-contianer{
   
  /*  display: none;*/
}


#button-shoot-left {
    float:left;
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
   /* display: inline-block;*/
    font-size: 16px;
}

#button-shoot-right{
    float:right;
    background-color: red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
   /* display: inline-block;*/
    font-size: 16px;
}


#left-button{
    clear:both;
    float:left;
    background-color: blue; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
}
#right-button {
   clear:both;
    float: right;
    background-color: blue; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
    
}
