/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

#container{
    font-size: 2rem;
    margin: 20%;
    border: 1px solid #4CAF50;
    background-color:lightgreen;
    padding-bottom: 100px;
}

button{
    background-color: lightblue;   
}